html, body {
	height: 100%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.required {
	color: red;
}

.right {
	float: right;
}

.header {
	width: 100%;
	background-color: #333;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul.topnav li {
	margin: 0 4px 0 4px;
	float: left;
}

ul.topnav li a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 26px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

ul.topnav li a.link:hover {
	background-color: #111;
}

ul.topnav li.icon {
	display: none;
}

.header-ninja {
	padding: 4px 4px 4px 20px;
}

.container {
    vertical-align: middle;
}

.welcome-message {
    display: inline-block;
}

.privacy-footer {
	border-top: 1px solid #e5e5e5;
	padding-top: 20px;
}

.how-to-use-modal-body, .privacy-modal-body  {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

.how-to-use-modal-body p, .privacy-modal-body p  {
	padding-bottom: 16px;
}

.top-buffer {
	margin-top: 20px;
}

/*
 * Processing Modal
 */

.modal-static {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    margin-top: -60px;
    margin-left: -60px;
    overflow: visible !important;
}
.modal-static,
.modal-static .modal-dialog,
.modal-static .modal-content {
    width: 160px;
    /*height: 200px; */
}
.modal-static .modal-dialog,
.modal-static .modal-content {
    padding: 0 !important;
    margin: 0 !important;
}
.modal-static .modal-content .icon {
}

/*
 * Bring back the inverse button
 */
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
             box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
